Semana3IoT.json
[
    {
        "id": "6d06c49ab6dc74a9",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f659106940596ae9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "801ebfd35256b02f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "748349e6a87beaab",
        "type": "inject",
        "z": "6d06c49ab6dc74a9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "ed064008a7ee0497"
            ]
        ]
    },
    {
        "id": "ed064008a7ee0497",
        "type": "random",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "c4688cda9392c479",
                "702c706337ea810e"
            ]
        ]
    },
    {
        "id": "702c706337ea810e",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Numeros Aleatorios Generados",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "deb6a80d21fddcb2",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "c4688cda9392c479",
        "type": "function",
        "z": "6d06c49ab6dc74a9",
        "name": "Multiplicar para 10",
        "func": "msg.payload = (msg.payload * 10).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "deb6a80d21fddcb2",
                "fa0b3f1ba84bc43f"
            ]
        ]
    },
    {
        "id": "54a5e6882f3238ab",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 1",
        "info": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "eabeae8040c5d6d2",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 2",
        "info": "",
        "x": 1040,
        "y": 40,
        "wires": []
    },
    {
        "id": "506a7c9e341abb6d",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 3",
        "info": "",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "1cc28b744bf28cc3",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Humedad",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "58296fe9e757d6a3",
        "type": "function",
        "z": "6d06c49ab6dc74a9",
        "name": "Multiplicar para 3 y sumar 2.5",
        "func": "msg.payload = ((msg.payload * 3) + 2.5).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "1cc28b744bf28cc3",
                "b767d990fd3c91eb"
            ]
        ]
    },
    {
        "id": "fa0b3f1ba84bc43f",
        "type": "switch",
        "z": "6d06c49ab6dc74a9",
        "name": "Detector > 50 grados",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "89c85b72d90ae9a5"
            ]
        ]
    },
    {
        "id": "b767d990fd3c91eb",
        "type": "switch",
        "z": "6d06c49ab6dc74a9",
        "name": "Detector > 90 de humedad",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 660,
        "wires": [
            [
                "8c544b5050109871"
            ]
        ]
    },
    {
        "id": "89c85b72d90ae9a5",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Alarma > 50 grados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "8c544b5050109871",
        "type": "debug",
        "z": "6d06c49ab6dc74a9",
        "name": "Alarma > 90 de humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "730f03f99a452b80",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 5",
        "info": "",
        "x": 1420,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e91e4c56931f65e",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "LITERAL 6",
        "info": "",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "ce55734b9b3c58e3",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "Ejercicio 2 .toFixed(2)",
        "info": "",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "b38f73af0d501f91",
        "type": "change",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "num",
                "to": "",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0b4b7b8562f3f927",
        "type": "inject",
        "z": "6d06c49ab6dc74a9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "bbccd0ab607e9844"
            ]
        ]
    },
    {
        "id": "bbccd0ab607e9844",
        "type": "random",
        "z": "6d06c49ab6dc74a9",
        "name": "",
        "low": "10",
        "high": "40",
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "58296fe9e757d6a3",
                "702c706337ea810e"
            ]
        ]
    },
    {
        "id": "53a82531f8101b64",
        "type": "comment",
        "z": "6d06c49ab6dc74a9",
        "name": "Ejercicio 1 ",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a5e24598c273259",
        "type": "inject",
        "z": "f659106940596ae9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7eedc548652ac8d2"
            ]
        ]
    },
    {
        "id": "7eedc548652ac8d2",
        "type": "random",
        "z": "f659106940596ae9",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "false",
        "property": "payload",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "45671d48f7510717",
                "bb0f7069dce59572"
            ]
        ]
    },
    {
        "id": "45671d48f7510717",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Numeros Aleatorios Generados",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "a3bd61f1b8d3905d",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "94041861298c50e6",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 1",
        "info": "",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "90f2d78efa27de88",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 2",
        "info": "",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "f7070e9ede66cae5",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 3",
        "info": "",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "68eb80f72b331396",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Humedad",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "a0232a35b1d5387c",
        "type": "switch",
        "z": "f659106940596ae9",
        "name": "Detector > 50 grados",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "1b9fde13ee5a5e1f"
            ]
        ]
    },
    {
        "id": "92020fcb89213d46",
        "type": "switch",
        "z": "f659106940596ae9",
        "name": "Detector > 90 de humedad",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 720,
        "wires": [
            [
                "e2f364ab874237f1"
            ]
        ]
    },
    {
        "id": "b41b79b4949b69ce",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Alarma > 50 grados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 280,
        "wires": []
    },
    {
        "id": "e2f364ab874237f1",
        "type": "debug",
        "z": "f659106940596ae9",
        "name": "Alarma > 90 de humedad",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$boolean(true)",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "3443508a3e7cd79b",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 5",
        "info": "",
        "x": 1360,
        "y": 220,
        "wires": []
    },
    {
        "id": "9597c14fe8d273ab",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "LITERAL 6",
        "info": "",
        "x": 1360,
        "y": 660,
        "wires": []
    },
    {
        "id": "c12604d5022b1c57",
        "type": "comment",
        "z": "f659106940596ae9",
        "name": "Ejercicio 2 .toFixed(2)",
        "info": "",
        "x": 200,
        "y": 120,
        "wires": []
    },
    {
        "id": "d9a1e009ecb810fe",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "Multiplicar para 3 y sumar 2.5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round((msg.payload * 3) + 2.5, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 620,
        "wires": [
            [
                "92020fcb89213d46",
                "68eb80f72b331396"
            ]
        ]
    },
    {
        "id": "5ad31c6a032a8667",
        "type": "inject",
        "z": "f659106940596ae9",
        "name": "Boton Gnerador Celcius",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "55775135f03cf658"
            ]
        ]
    },
    {
        "id": "55775135f03cf658",
        "type": "random",
        "z": "f659106940596ae9",
        "name": "",
        "low": "10",
        "high": "40",
        "inte": "false",
        "property": "payload",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "45671d48f7510717",
                "d9a1e009ecb810fe"
            ]
        ]
    },
    {
        "id": "bb0f7069dce59572",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "Multiplicar para 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round((msg.payload * 10), 2)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "a0232a35b1d5387c",
                "a3bd61f1b8d3905d"
            ]
        ]
    },
    {
        "id": "1b9fde13ee5a5e1f",
        "type": "change",
        "z": "f659106940596ae9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ALARMA ACTIVADA TEMPERATURA MAYOR A 50 GRADOS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "b41b79b4949b69ce"
            ]
        ]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "801ebfd35256b02f",
        "name": "JSON inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Mensaje Original",
        "payload": "{\"temp\":23,\"hum\":88,\"name\":\"pepito\"}",
        "payloadType": "json",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "debug1",
                "29ad4777b4808109",
                "c9b5226c63c9351b",
                "9fe9ebad7ec95501",
                "94b75ac33b4c6b3f"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver JSON Completo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "d46ea8a5d4c3be9a",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver topic Nuevo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "29ad4777b4808109",
        "type": "change",
        "z": "801ebfd35256b02f",
        "name": "Añadir Ciudad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temp\":23,\"hum\":88,\"name\":\"pepito\",\"ciud\":\"machala\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "e3ac515788730d5b",
                "e84b4987466e1486"
            ]
        ]
    },
    {
        "id": "e84b4987466e1486",
        "type": "change",
        "z": "801ebfd35256b02f",
        "name": "Modificar Topic",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "topic",
                "fromt": "msg",
                "to": "Mensaje Alterado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "d46ea8a5d4c3be9a"
            ]
        ]
    },
    {
        "id": "c9b5226c63c9351b",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.hum",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "9fe9ebad7ec95501",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "94b75ac33b4c6b3f",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "e3ac515788730d5b",
        "type": "debug",
        "z": "801ebfd35256b02f",
        "name": "Ver Cambios",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "37d63e8f0d905e01",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-random": "0.4.1"
        }
    }
]